<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home-Page</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

</head>

<header class="header_section secondary_header sticky text-white clearfix">

    <div class="header_bottom clearfix">
        <div class="container">
            <div class="row align-items-center">

                <ul class="ul_li_center clearfix">
                    <a href="/">Home</a>
                </ul>

                <ul class="ul_li_center clearfix">
                    <a href="/courses">Courses</a>
                </ul>

                <ul class="ul_li_center clearfix">
                    <a href="/users">User</a>
                </ul>

                <ul class="ul_li_center clearfix">
                    <a href="/registrations">Registrations</a>
                </ul>

            </div>
        </div>
    </div>

</header>

<body>

<h1>WELCOME!!!</h1>

</body>
</html>
