<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Register Registrations</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<header class="header_section secondary_header sticky text-white clearfix">

    <div class="header_bottom clearfix">
        <div class="container">
            <div class="row align-items-center">

                <ul class="ul_li_center clearfix">
                    <a href="/">Home</a>
                </ul>

                <ul class="ul_li_center clearfix">
                    <a href="/courses">Courses</a>
                </ul>

                <ul class="ul_li_center clearfix">
                    <a href="/users">User</a>
                </ul>

                <ul class="ul_li_center clearfix">
                    <a href="/registrations">Registrations</a>
                </ul>

            </div>
        </div>
    </div>

</header>

<body>
<div class="reservation_form">
    <form th:action="@{/register_new_registration}" method="post" th:object="${registration}">

        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12 col-xs-12">
                <div class="form_item" data-aos="fade-up" data-aos-delay="400">
                    <input type="text" name="name" placeholder="Registration Name"
                           th:field="*{name}">
                </div>
            </div>
        </div>

        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" data-aos="fade-up"
                 data-aos-delay="300">
                <button type="submit" class="btn btn-primary">
                    Add
                </button>
            </div>
        </div>

    </form>
</div>
</body>

</html>
