<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registrations</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>

<header class="header_section secondary_header sticky text-white clearfix">

    <div class="header_bottom clearfix">
        <div class="container">
            <div class="row align-items-center">

                <ul class="ul_li_center clearfix">
                    <a href="/">Home</a>
                </ul>

                <ul class="ul_li_center clearfix">
                    <a href="/courses">Courses</a>
                </ul>

                <ul class="ul_li_center clearfix">
                    <a href="/users">User</a>
                </ul>

                <ul class="ul_li_center clearfix">
                    <a href="/registrations">Registrations</a>
                </ul>

            </div>
        </div>
    </div>

</header>

<body>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Courses</h5>
        <a style="float: right" th:href="'/register_registration/'" class="btn btn-primary">Add new registration</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th> Id</th>
                <th> Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="registration: ${registrations}">
                <td><span th:text="${registration.id}">  </span></td>
                <td><span th:text="${registration.name}">  </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
