<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

</head>

<header class="header_section secondary_header sticky text-white clearfix">

    <div class="header_bottom clearfix">
        <div class="container">
            <div class="row align-items-center">
                <ul class="ul_li_center clearfix">
                    <a href="/">Home</a>
                </ul>
                <ul class="ul_li_center clearfix">
                    <a href="/courses">Courses</a>
                </ul>
                <ul class="ul_li_center clearfix">
                    <a href="/users">User</a>
                </ul>

            </div>
        </div>
    </div>

</header>

<body>

<h1>Added successfully</h1>

<div class="abtn_wrap text-center clearfix" data-aos="fade-up" data-aos-delay="100">
  <a class="custom_btn bg_default_red btn_width text-uppercase" href="/">Return back</a>
</div>

</body>
</html>
